@keyframes show {
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
  0% {
    trandform: scale(0, 0);
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    trandform: scale(0, 0);
    opacity: 0;
  }
}
*[data-role=animate-hide] {
  animation: hide 1s ease forwards;
  transform-origin: left top ;
}
*[data-role=animate-show] {
  animation: show 1s ease forwards;
  transform-origin: left top ;
}
@keyframes down {
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
  0% {
    trandform: scale(0, 0);
    opacity: 0;
  }
}
@keyframes up {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    trandform: scale(0, 0);
    opacity: 0;
  }
}
*[data-role=animate-hide] {
  animation: hide 1s ease forwards;
  transform-origin: left top ;
}
*[data-role=animate-show] {
  animation: show 1s ease forwards;
  transform-origin: left top ;
}
@keyframes round {
  0% {
    transform: translate(30px, 0px);
  }
  2.77777778% {
    transform: translate(29.54423259px, 5.20944533px);
  }
  5.55555556% {
    transform: translate(28.19077862px, 10.2606043px);
  }
  8.33333333% {
    transform: translate(25.98076211px, 15px);
  }
  11.11111111% {
    transform: translate(22.98133329px, 19.28362829px);
  }
  13.88888889% {
    transform: translate(19.28362829px, 22.98133329px);
  }
  16.66666667% {
    transform: translate(15px, 25.98076211px);
  }
  19.44444444% {
    transform: translate(10.2606043px, 28.19077862px);
  }
  22.22222222% {
    transform: translate(5.20944533px, 29.54423259px);
  }
  25% {
    transform: translate(0px, 30px);
  }
  27.77777778% {
    transform: translate(-5.20944533px, 29.54423259px);
  }
  30.55555556% {
    transform: translate(-10.2606043px, 28.19077862px);
  }
  33.33333333% {
    transform: translate(-15px, 25.98076211px);
  }
  36.11111111% {
    transform: translate(-19.28362829px, 22.98133329px);
  }
  38.88888889% {
    transform: translate(-22.98133329px, 19.28362829px);
  }
  41.66666667% {
    transform: translate(-25.98076211px, 15px);
  }
  44.44444444% {
    transform: translate(-28.19077862px, 10.2606043px);
  }
  47.22222222% {
    transform: translate(-29.54423259px, 5.20944533px);
  }
  50% {
    transform: translate(-30px, 0px);
  }
  52.77777778% {
    transform: translate(-29.54423259px, -5.20944533px);
  }
  55.55555556% {
    transform: translate(-28.19077862px, -10.2606043px);
  }
  58.33333333% {
    transform: translate(-25.98076211px, -15px);
  }
  61.11111111% {
    transform: translate(-22.98133329px, -19.28362829px);
  }
  63.88888889% {
    transform: translate(-19.28362829px, -22.98133329px);
  }
  66.66666667% {
    transform: translate(-15px, -25.98076211px);
  }
  69.44444444% {
    transform: translate(-10.2606043px, -28.19077862px);
  }
  72.22222222% {
    transform: translate(-5.20944533px, -29.54423259px);
  }
  75% {
    transform: translate(0px, -30px);
  }
  77.77777778% {
    transform: translate(5.20944533px, -29.54423259px);
  }
  80.55555556% {
    transform: translate(10.2606043px, -28.19077862px);
  }
  83.33333333% {
    transform: translate(15px, -25.98076211px);
  }
  86.11111111% {
    transform: translate(19.28362829px, -22.98133329px);
  }
  88.88888889% {
    transform: translate(22.98133329px, -19.28362829px);
  }
  91.66666667% {
    transform: translate(25.98076211px, -15px);
  }
  94.44444444% {
    transform: translate(28.19077862px, -10.2606043px);
  }
  97.22222222% {
    transform: translate(29.54423259px, -5.20944533px);
  }
  100% {
    transform: translate(30px, 0px);
  }
}
*[data-a*=animate-round] {
  animation: round 2s linear infinite;
}
@keyframes quxian {
  0% {
    transform: translate(30px, 0px);
  }
  2.77777778% {
    transform: translate(29.54423259px, 7.66044443px);
  }
  5.55555556% {
    transform: translate(28.19077862px, 9.84807753px);
  }
  8.33333333% {
    transform: translate(25.98076211px, 5px);
  }
  11.11111111% {
    transform: translate(22.98133329px, -3.42020143px);
  }
  13.88888889% {
    transform: translate(19.28362829px, -9.39692621px);
  }
  16.66666667% {
    transform: translate(15px, -8.66025404px);
  }
  19.44444444% {
    transform: translate(10.2606043px, -1.73648178px);
  }
  22.22222222% {
    transform: translate(5.20944533px, 6.4278761px);
  }
  25% {
    transform: translate(0px, 10px);
  }
  27.77777778% {
    transform: translate(-5.20944533px, 6.4278761px);
  }
  30.55555556% {
    transform: translate(-10.2606043px, -1.73648178px);
  }
  33.33333333% {
    transform: translate(-15px, -8.66025404px);
  }
  36.11111111% {
    transform: translate(-19.28362829px, -9.39692621px);
  }
  38.88888889% {
    transform: translate(-22.98133329px, -3.42020143px);
  }
  41.66666667% {
    transform: translate(-25.98076211px, 5px);
  }
  44.44444444% {
    transform: translate(-28.19077862px, 9.84807753px);
  }
  47.22222222% {
    transform: translate(-29.54423259px, 7.66044443px);
  }
  50% {
    transform: translate(-30px, 0px);
  }
  52.77777778% {
    transform: translate(-29.54423259px, -7.66044443px);
  }
  55.55555556% {
    transform: translate(-28.19077862px, -9.84807753px);
  }
  58.33333333% {
    transform: translate(-25.98076211px, -5px);
  }
  61.11111111% {
    transform: translate(-22.98133329px, 3.42020143px);
  }
  63.88888889% {
    transform: translate(-19.28362829px, 9.39692621px);
  }
  66.66666667% {
    transform: translate(-15px, 8.66025404px);
  }
  69.44444444% {
    transform: translate(-10.2606043px, 1.73648178px);
  }
  72.22222222% {
    transform: translate(-5.20944533px, -6.4278761px);
  }
  75% {
    transform: translate(0px, -10px);
  }
  77.77777778% {
    transform: translate(5.20944533px, -6.4278761px);
  }
  80.55555556% {
    transform: translate(10.2606043px, 1.73648178px);
  }
  83.33333333% {
    transform: translate(15px, 8.66025404px);
  }
  86.11111111% {
    transform: translate(19.28362829px, 9.39692621px);
  }
  88.88888889% {
    transform: translate(22.98133329px, 3.42020143px);
  }
  91.66666667% {
    transform: translate(25.98076211px, -5px);
  }
  94.44444444% {
    transform: translate(28.19077862px, -9.84807753px);
  }
  97.22222222% {
    transform: translate(29.54423259px, -7.66044443px);
  }
  100% {
    transform: translate(30px, 0px);
  }
}
*[data-a*=animate-quxian] {
  animation: quxian 2s linear infinite;
}
@keyframes yuan {
}
*[data-a*=animate-quxian] {
  animation: quxian 2s linear infinite;
}
